 
<div id="div_head">
    <div class="jumbotron" id="jumbotron_head">
        <h1>Quer relaxar?<br></h1>
        <h2 id = "sub-titulo"><br>Venha saborear com a Tia Ana e Tio Elio, o melhor limão e torresmo da Região!<br></h2>
        <%= link_to 'Leia Mais', site_hostel_saiba_mais_path, class: "btn btn-primary" %>   
    </div>
</div>
 
 <br />

 <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Espaço Gourmet <span class="text-muted">Para quem aprecia uma boa comida</span></h2>
        <p class="lead">Limão saracutacu, torresmo crocante e muito mais!</p>
      </div>
      <div class="col-md-5">
        <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cozinha.jpg" %> >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Diversão <span class="text-muted">Muita dança e alegria</span></h2>
        <p class="lead">Show ao vivo com Alison e Bela todas as quintas.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class = "featurette-image img-fluid mx-auto" <%= image_tag "diversao.jpg" %> >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Natureza <span class="text-muted">Água, fogo, terra e ar</span></h2>
        <p class="lead">Em equilíbrio perfeito com a mãe natureza</p>
      </div>
      <div class="col-md-5">
        <img class = "featurette-image img-fluid mx-auto" <%= image_tag "natureza_v2.jpg" %> >
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
