
    <div class="container saiba_mais">   

            <div class="row featurette">
                <div class="col-md-5">
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "Elio.jpg" %>
                </div>
            </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Criando um espaço de felicidade...
          </h3>

          <div class="blog-post">
            
            <p class="blog-post-meta">Abril 2, 2019 por Elio Martins</p>

            <hr>
            <p>Quando viemos para esse lugar, essa cidade, não eperava encontrar tanta beleza.</p>
            <blockquote>
              <p>Foi quando pensei: Poque não compartilhar essa benção com outras pessoas? <strong>A saracutacus</strong> nasceu de um desejo de proposcionar felicidade a outras pessoas.</p>
            </blockquote>
            <p>Junto com minha  <em>esposa Ana Célia e meus filhos Thiago e Alan</em>, construimos esse local e demos vida bem ao modo de nossa familia</p>

            <p>Depois de muitas dificuldades, momentos de baixos e altos, a Saracutacus Hostel conquistou e vem conquistando a simpatia e carinho de pessoas nos quatro cantos do Brasil</p>
            
            <p> <strong> Elio Martins - Diretor </strong></p>

        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </main><!-- /.container -->