<p id="notice"><%= notice %></p>

<h2> Informações do usuário </h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Back', root_path %>
