<h1> Seja Bem vindo <%= @user.name%> </h1>

<p>
  <strong> Usuário confirmado com sucesso!</strong> 
</p>

<p> 
    Falta pouco, para solicitar suas resserva, efetue o login e entre na secção "Agenda". 
</p>

<p>
  <strong>Esperamos você</strong>
</p>

<%= link_to 'Voltar', root_path %>

