#div_head {
  text-align: center;
  padding: 90px;
  background: image-url('Agulhas_Negras.jpg') no-repeat;
  background-size: cover;
}

.navbar-nav{
  float: right!important;
}

h2 { font-size: smaller; }

.navbar.navbar-light .collapse.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #eba8d4!important;
}



